<div fxFlex="15%" fxFlex.md="5%" fxFlex.sm="2%" fxFlex.xs="2%"></div><div fxFlex fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px" class="main">

    <div fxFlex="100">
        <mat-form-field>
            <mat-label>Tier</mat-label>
            <mat-select (selectionChange)="tierChanged($event)">
                <mat-option *ngFor="let tier of tierList" [value]="tier">
                    {{tier}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Coinage</mat-label>
            <mat-select (selectionChange)="coinChanged($event)">
                <mat-option *ngFor="let c of cultureList" [value]="c">
                    {{c}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>World Tendancy</mat-label>
            <mat-select (selectionChange)="tierChanged($event)">
                <mat-option *ngFor="let w of worldTendancyList" [value]="w">
                    {{w}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Trove Catagory</mat-label>
            <mat-select (selectionChange)="multiChanged($event)">
                <mat-option *ngFor="let t of troveTypeList" [value]="t.value">
                    {{t.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <button (click)="rollEncounter()" style="margin-left: 20px;" mat-raised-button>Open Trove!</button>
    </div>

    <div class="treasurecard">
        <div fxFlex="35%" fxFlex.md="20%" fxFlex.sm="2%" fxFlex.xs="2%"></div>
        <div fxLayout="row wrap" fxWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex="1, 0, 0" *ngFor="let x of trove" [ngClass]="x.class">
                {{x.text}}
            </div>
        </div>
        <div fxFlex="35%" fxFlex.md="20%" fxFlex.sm="2%" fxFlex.xs="2%"></div>
    </div>

</div><div fxFlex="15%" fxFlex.md="5%" fxFlex.sm="2%" fxFlex.xs="2%"></div>