/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Navigation */
.mat-toolbar { position: fixed; z-index: 100; }
.home { cursor: pointer; }

.main  { margin-top: 74px; padding: 15px; 
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.card { min-width: 250px; max-width: 18%; cursor: pointer; }
.cardtext { font-weight: 500; text-align: center; }
.popover { min-width: 240px; max-height: 150px !important; z-index: 100; transform: translate(-50%, -100%); left: 50%; top: -2px; position: absolute; overflow : auto; }
.popovertitle { text-align: center; overflow-wrap: normal; white-space: nowrap; padding-left: 10px; padding-right: 10px; }
.popoversubtitle { font-size: small;  padding: 0px !important; }
.popovertext { font-size: small !important; text-align: center; margin-bottom: 0px !important; color: #fff; opacity: 1 !important; overflow-wrap: normal; white-space: normal !important; }
.popoverbody { opacity: 0.85; background-color: #000; }


.arow {width: 100%; }
.treasurecard { padding: 6px; margin: 2px; font-size: large; }
.nonmagic { border: 3px solid #d6d6d6;  color: #d6d6d6; background-color: #4b4b4b;}
.notable { border: 3px solid #000; color: #000; background-color: #d2b187; }
.common { border: 3px solid #7fc97f; color: #7fc97f; background-color: #35473c; }
.magic { border: 3px solid #658cff; color: #658cff; background-color: #14283c; }
.rare { border: 3px solid #ffff77; color: #ffff77; background-color: #35473c; }
.set { border: 3px solid #00FF00; color: #00FF00; background-color: #35473c; }
.legendary { border: 3px solid #af6025; color: #af6025; background-color: #350d0d; }

.mat-list .mat-list-item {
    height: 30px !important; 
}

div .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

mat-slide-toggle {
    margin-left: 15px;
}

/* Color Override */
.mat-toolbar.mat-primary { background: #350d0d; }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar { background: #350d0d; }
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit { background: #350d0d; }